/* =================== General styles for body, navigation and footer =================== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin: 0 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(183, 248, 255, 0.8);
    transform: scale(1.1);
}

main {
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}




/* =================== General styles for animations =================== */

.animated {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animated.visible {
    opacity: 1;
    transform: translateY(0);
}

.slide-left {
    transform: translateX(-100%);
    max-width: 30%;
}

.slide-right {
    transform: translateX(100%);
    max-width: 60%;
}

.slide-left.visible,
.slide-right.visible {
    transform: translateX(0);
}